<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>AppIcon11</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon11</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>AppIcon12</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon12</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>AppIcon13</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon13</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>AppIcon14</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon14</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>AppIcon15</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon15</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon16</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon16</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon17</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon17</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon18</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon18</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon19</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon19</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon20</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon21</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon21</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon22</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon22</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
